<h1>E-commerce App</h1>
<% if @warehouses.empty? %>
  <p>Nenhum galpão encontrado</p>
<% end %>
<% @warehouses.each do |w| %>
  <%= link_to w["name"], warehouse_path(w["id"]) %>
  <%= w["code"] %>
  <%= w["city"] %>
<% end %>
